* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #242333;
  width: 100vw;
  height: 100vh;
}

.grid-container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 360px;
  height: 360px;
  background-color: aqua;
  transform: translate(-50%, -50%);
  border-radius: 0px;
  background: #ffffff;

  display: flex;
  flex-wrap: wrap;
}
.status {
  width: 100vw;
  height: 20%;
  /* border: 2px solid green; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: sans-serif;
  font-size: 24px;
  font-weight: 520;
}

.pixel {
  width: 60px;
  height: 60px;
  background-color: cadetblue;
  border: 1px solid white;
}

.pixel:hover {
  cursor: pointer;
  background-color: rgb(130, 202, 204);
}

.checked {
  background-color: rgb(156, 188, 189);
}
